 @import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
 }

 html::-webkit-scrollbar {
    display: none;
 }

 body {
    background-color: rgb(255, 250, 242);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
 }

 .content {
    height: 100vh;
    width: 100vw;
    flex: 1;
 }

 canvas {
    display: block;
    position: fixed;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -2;
 }

 h1 {
    font-family: 'Livvic', sans-serif;
    font-weight: 900;
    font-size: 42px;
    color: rgb(68 68 68);
 }

 h2 {
    font-family: 'Livvic', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: rgb(68 68 68);
    background-color: transparent;
 }

 h3 {
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: rgb(97 97 97);
 }

 p {
    font-family: 'Roboto', sans-serif;
 }

 button {
    background-color: rgba(247, 120, 20, 1);
    border-style: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
 }

 button:hover{
   transform: scale(1.1);
 }

 small {
    text-decoration: underline;

 }

 .animation {
    opacity: 0;
 }

 .animation.active {
    opacity: 1;
    --animate-duration: 2s;
 }

 /*navigation bar*/
 nav {
    top: 0%;
    position: fixed !important;
    z-index: 2;
    background-color: rgba(249, 255, 244, 0.8) !important;
    height: 10vh;
    width: 100vw;
 }

 nav p {
    position: relative;
    left: 45%;
    text-align: justify;
    font-size: 16px;
 }

 nav a{
   font-family: 'Livvic', sans-serif;
   font-weight: 400 !important;
   font-size: 16px !important;
 }

 nav a:not(.excludeHover):hover{
   color: #686868;
   background: linear-gradient(to bottom right, #fbfefb, #ffffff);
   transform: scale(1.05);
   
 }

 .navbar-brand {
    display: grid;
    grid-template-columns: 10% 90%;
    height: 10vh;
    padding-top: 0.5%;
 }

 .navbar-brand p {
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    color: #686868;
 }

 nav img {
    padding-left: 15%;
    margin-left: 3vw;
    height: 50%;
 }

 a {
    text-decoration: none;
    color: white;
 }

 nav button {
    margin-top: 5%;
 }

 /* navigation bar multible dropdown*/
 .dropdown-menu li {
    position: relative;
 }

 .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
 }

 .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
 }

 .dropdown-menu>li:hover {
    background-color: #f1f1f1
 }

 .dropdown-menu>li:hover>.submenu {
    display: block;
 }

 /*navigation bar end*/

 /*footer*/
 footer.container-fluid {
    bottom: 0;
    background-color: rgb(241, 253, 243);
    height: 7%;
    display: flex;
    gap: 10vw;
    font-size: 12px;
    padding-top: 1%;
    z-index: 2;position: relative;
 }

 .text-area {
    text-align: right;
    position: inherit;
    width: 100%;
 }

 footer .logo {
    margin-left: 10%;
 }

 .logo img {
    width: 4vw;
    height: 7vh;
    padding-top: 1vh;
 }

 /*footer end*/

 /*FAQ*/
 .faq-toggler {
    position: fixed;
    bottom: 10vh;
    right: 0;
    height: max-content;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    background-color: rgba(247, 120, 50, 0.5);
    text-align: justify;
    font-family: 'Livvic', sans-serif;
    font-weight: 600;
    font-size: 12px;
    z-index: 2;
    writing-mode: vertical-lr;
    text-orientation: upright;
    border-radius: 15px 0 0 15px;
 }

 .faq-toggler:hover {
    cursor: pointer;
 }

 .faq-content {
    height: 100%;
    width: 30%;
    background-color: white;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 2;
    display: none;
    border-radius: 25px;
    border-left: 1px solid #000;
    box-shadow: -1vw 1vh 40px rgba(0, 0, 0, 0.5);

 }

 .faq-content.active {
    display: block;
 }

 .faq-content header {
    height: 8vh;
    border-bottom: 2px solid black;
    padding-top: 1.5%;
 }

 .faq-content header span {
    font-size: 36px;
    position: absolute;
    right: 2%;
    top: 1%;
 }

 .faq-content header span:hover {
    cursor: pointer;
 }

 #accordionFlushFAQ {
    margin-top: 1%;
 }

 .accordion-body {
    text-align: justify;
    padding-bottom: 5%;
 }

 .accordion-body a {
    color: #686868;
    text-decoration: underline;
    font-size: 20px;
 }

 /*FAQ end*/

 /* Video */
 .video.container-fluid {
    margin-top: 10vh;
    margin-bottom: 10vh;
 }

 #selected-Video {
    margin-top: 5vh;
    width: 100%;
    height: 75vh;
 }

 /*video end*/

 /*index*/
 .container-fluid.home {
    text-align: center;
    height: 100vh;
 }

 .home button {
    padding: 1% 5% 1% 5%;
    font-size: 20px;
 }

 .home .title {
    position: absolute;
    bottom: 7vh;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(224, 224, 224, 0.9));
 }

 .why-us img {
    width: 25vw;
    height: 25vh;
 }

 .why-us-1,
 .why-us-2 {
    z-index: 0;
    background-color: rgb(249, 255, 244);
    padding-top: 10vh;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-auto-rows: 10% 45% 45%;
 }


 .multi-devices,
 .customer-support,
 .customized-report,
 .barcode-printing {
    position: absolute;
    display: contents;
    width: 100vw;
 }

 .multi-devices-icon,
 .customized-report-icon {
    width: 30vw;
    height: 30vh;
    background-color: rgba(255, 250, 242, 0.95);
    border: 2px solid;
    border-color: rgb(218, 230, 210);
    margin-top: 5vh;
    margin-left: 10%;
    z-index: 1;
 }

 .multi-devices-desc,
 .customized-report-desc {
    position: absolute;
    right: 15%;
    padding: 1% 2% 0 18%;
    margin-top: 15%;
    margin-left: 25%;
    border: 3px solid #f28500;
 }

 .customer-support-icon,
 .barcode-printing-icon {
    width: 30vw;
    height: 30vh;
    background-color: rgba(255, 250, 242, 0.95);
    border: 2px solid;
    border-color: rgb(218, 230, 210);
    margin-top: 10vh;
    margin-left: 55%;
    padding-top: 3vh;
    z-index: 1;
 }

 .customer-support-desc,
 .barcode-printing-desc {
    position: absolute;
    width: 50vw;
    right: 35vw;
    padding: 1% 15% 0 5%;
    margin-top: 55vh;
    margin-left: 15%;
    border: 3px solid #f28500;
 }

 .customized-report-desc {
    margin-top: 22vh;
    padding-right: 5%;
    right: 20vw;
 }

 .barcode-printing-icon {
    margin-top: 10vh;
 }

 .barcode-printing-desc {
    margin-top: 50vh;
    padding-left: 4%;
    left: 5vw;
 }

 .customized-report-icon,
 .barcode-printing-icon {
    background-color: rgba(249, 255, 244, 0.95);
 }

 .why-us-2 {
    grid-template-rows: 50% 50%;
    background-color: rgb(255, 250, 242);
    padding-top: 5vh;
 }

 .our-product {
    text-align: center;
    padding-top: 5vh;
    background-color: rgba(255, 255, 255, 0.85);
    height: 60vh;
 }

 .product-container {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    padding: 10vh 2vw 0 2vw;
 }

 .spare-parts-accounting-container,
 .workshop-management-container {
    padding: 5vh 2vw;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
 }

 .workshop-management-container {
    border-left: 2px dashed black;
 }

 .product-container>div:hover {
    border-color: rgb(209, 209, 209);
    background-color: #face99;
    transform: scale(1.2);
 }


 .benefits {
    padding: 10vh;
    display: flex;
    text-align: center;
 }

 .benefits .list-group {
    margin-top: 5vh;
    margin-left: 10vw;
 }

 .benefits .list-group-item {
    background-color: #f2ffe9;
    box-shadow: 2vh 2vh 20px #dae6d2;
 }

 .testimonial {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100vh;

 }

 .carousel-inner.testimonial-carousel {
    height: 100vh;
 }

 .carousel-content.testimonial-carousel {
    padding: 5%;
    width: 80%;
    border: 2px solid face99;
    margin-left: 10%;
    margin-top: 10vh;
    box-shadow: 2vh 2vh 50px #face99;
    background-color: #d9e4db;
 }

 .carousel-content.testimonial-carousel header {
    margin-bottom: 5vh;
    border-bottom: 2px dotted gray;
 }

 blockquote {
    position: relative;
    font-size: 16px;
 }

 blockquote::before {
    content: "\201C";
    font-size: 150px;
    position: absolute;
    font-family: serif;
    font-weight: bold;
    opacity: .5;
    left: 0;
    margin-top: -10vh;
 }

 .carousel-content.testimonial-carousel p {

    width: 80%;
    margin-left: 10%;
 }

 /*index end*/

 /*contact us*/


 .feedback .container-fluid {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 75vh;
 }

 .form {
    margin-top: 2vh;
    background-color: rgb(242, 255, 233);
    margin-left: 5vw;
    padding: 5vh 2vw 1vh 2vw;
    display: flex;
    position: relative;
    height: 55vh;
 }

 label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(97, 97, 97);
    display: block;
    margin-bottom: 1vh;
 }

 input {
    display: block;
    margin-bottom: 3vh;
    width: 75%;
 }

 .message,
 .contact-list {
    width: 50%;
    padding-left: 5vw;
    height: 40vh;
 }

 textarea {
    width: 80%;
    height: 30vh;
 }

 .feedback button {
    position: absolute;
    font-size: 18px;
    padding: 1vh 2vw 1vh 2vw;
    transform: translateX(-50%);
    bottom: 10%;
    left: 50%;
 }

 .company-contact .container-fluid {
    display: grid;
    grid-template-columns: 35% 65%;
    height: 60vh;
 }

 .company-contact .vstack.col-md-5.mx-auto {
    background-color: rgb(242, 255, 233);
    height: 55vh;
    min-height: auto;
    width: 65%;
    padding: 2vh 0 0 5vw;
 }

 h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgb(97, 97, 97);
 }

 .company-contact p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(97, 97, 97);
    padding-left: 2vw;
 }

 .container-fluid .text-center.contact-us {
    margin: 10% 0 5% 0;
 }

 .icon {
    align-items: center;
 }

 .icon img {
    padding-top: 15%;
    padding-left: 5vw;
    width: 30vw;
    height: 50vh;
 }

 .map {
    position: relative;
    z-index: 1;
 }

 /*contact us end*/

 /*Spare parts management system*/

 .intro {
    height: 100vh;
    padding-top: 20vh;
    display: flex;
    gap: 10vw;
    width: 100%;
 }

 .intro img {
    width: 45vw;
    height: 75%;
 }

 .intro .title {
    height: 100%;
    width: 50vw;
    padding-top: 20vh;
    padding-right: 10vw;
    text-align: center;
 }

 .intro .title p {
    margin-top: 5vh;
 }

 .features {
    height: max-content;
    padding-top: 5vh;
    padding-bottom: 10%;
    background-color: rgba(242, 255, 233, 0.75);
    text-align: center;
    width: 100%;
 }

 .features-content {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 80%;
    width: 100%;
 }

 .textbox {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
 }

 .textbox.right {
    border-left: 2px dotted rgb(166, 166, 166);
 }

 .textbox.top {
    border-bottom: 2px dotted rgb(166, 166, 166);
 }

 .module {
    height: 40vh;
    text-align: center;
    padding-top: 2%;
    display: flex;
    background-color: rgba(241, 243, 243, 0.75);
    width: 100%;
 }

 .module-content {
    width: 40vw;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
 }

 .module-content p {
    padding-top: 2%;
 }

 .carousel-container {
    position: relative;
    margin-top: 10vh;
    width: 13vw;
    height: 15vh;
    perspective: 1500px;
    margin-left: 27vw;
 }

 .module-carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
 }

 .module-carousel-item {
    display: block;
    position: absolute;
    background: #fef4e8;
    width: 13vw;
    height: 15vh;
    padding-top: 8%;
    text-align: center;
    color: black;
    opacity: 0.95;
    border-radius: 10px;
    transition: background 0.3s;

 }

 .module-carousel-item.active,
 .module-carousel-item.active h3,.module-carousel-item.workshop.active,
 .module-carousel-item.workshop.active h3 {
    background: #FFA500;
    color: white;
 }

 .stock-system {
    transform: rotateY(0deg) translateZ(250px);
 }

 .general-ledger {
    transform: rotateY(45deg) translateZ(250px);
 }

 .account-receivable {
    transform: rotateY(90deg) translateZ(250px);
 }

 .bill-of-material {
    transform: rotateY(135deg) translateZ(250px);
 }

 .account-payable {
    transform: rotateY(180deg) translateZ(250px);
 }

 .sales-order {
    transform: rotateY(225deg) translateZ(250px);
 }

 .purchase-order {
    transform: rotateY(270deg) translateZ(250px);
 }

 .stock-claim {
    transform: rotateY(315deg) translateZ(250px);
 }

 #next {
    font-size: 100px;
    position: absolute;
    color: #FFA500;
    right: 2vw;
    margin-top: 10vh;
 }

 #prev {
    font-size: 100px;
    position: absolute;
    color: #FFA500;
    margin-top: 10vh;
    left: 50vw;
 }

 .module-carousel-item p {
    display: none;
 }

 .preview {
    height: max-content;
    text-align: center;
    padding-top: 15vh;
 }


 .preview .dropdown-center button {
    background-color: transparent;
    border: none;
    color: black;
 }

 .btn {
    --bs-btn-font-size: 25px;
 }

 .preview .dropdown-center::after {
    font-size: 500px;
    background-color: black;
 }

 .preview .container-fluid .description {
    display: none;
    height: max-content;
 }

 .description .image {
    width: 80%;
    margin-left: 5vw;
    padding-left: 5vw;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
 }

 .description .image img {
    height: 100%;
    width: 90%;
 }

 .description .image small {
    text-align: center;
    height: max-content;
    padding-bottom: 5%;
 }

 .description-text {
    padding-top: 08%;
    padding-right: 2vw;
    width: 25vw;
 }

 .description-text .list-group {
    box-shadow: 1vw 2vh 50px rgba(253, 185, 115, 0.75);
 }

 .description-text .list-group-item {
    background-color: #fdb973;
    padding-bottom: 0;
 }

 .preview .container-fluid .description.active {
    display: flex;
 }

 /*Spare parts management system end*/

 /*Work shop*/
 
 .carousel-container.workshop {
   position: relative;
   margin-top: 10vh;
   width: 20vw;
   height: 25vh;
   perspective: 1500px;
   margin-left: 25vw;
}

.module-carousel.workshop{
   height: 100%;
   width: 100%;
   position: absolute;
   transform-style: preserve-3d;
   transition: transform 1s;
}

.module-carousel-item.workshop {
   display: block;
   position: absolute;
   background: #fef4e8;
   width: max-content;
   height: max-content;
   padding: 5%;
   text-align: center;
   color: black;
   opacity: 0.95;
   border-radius: 10px;
   transition: background 0.3s;
    
}


.billing-service-record-module{ transform: rotateY(0deg) translateZ(250px); }
.stock-control-module { transform: rotateY(120deg) translateZ(250px); }
.full-set-accountant { transform: rotateY(240deg) translateZ(250px); }


#workshop-next{
   font-size: 100px;
   position: absolute;
   color: #FFA500;
   margin-top: 9vh;
   right: 1%;
}

#workshop-prev{
   font-size: 100px;
   position: absolute;
   color: #FFA500;
   margin-top: 9vh;
   right: 48%;
   
}

 /*workshop end*/

 /*about us */
 .intro.about-us {
   background-image: url('../greenstem/pic/greenstem-group-photo.JPG');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
}


.intro.about-us,
.gallery {
   display: block;
   position: relative;
   height: 100vh;
   z-index: -1;
   text-align: center;
}

.intro.about-us .container-fluid {
   position: absolute;
   bottom: 0;
   height: 30vh;
   background-color: rgba(241, 253, 243, 0.8);
   padding: 5vh 10vw 0 10vw;
}

.value .container-fluid {
   display: grid;
   grid-template-rows: 50% 50%;
   background-color: rgb(255, 250, 242);
   height: 100vh;
   padding-top: 10vh;
}

.vision,
.mission {
   display: flex;
   gap: 5vw;
   margin-top: 5vh;
   margin-left: 10%;
   width: 80%;
   padding-left: 5vw;
}

.vision.animation,
.mission.animation {
   --animate-duration: 3.5s;
}



.value img {
   width: 30vw;
   height: 30vh;
   box-shadow: 20px 20px #d9e4db;
}

.value-desc,
.mission-desc {
   padding-top: 15vh;
   text-align: center;
   padding-left: 2vw;
}

.gallery .container-fluid {
   text-align: center;
   height: 120vh;
   padding-top: 5vh;
}

.gallery {
   height: 120vh;
}

.carousel.slide {
   margin-top: 5vh;
}

.carousel-caption.d-none.d-md-block {
   background-color: rgba(245, 245, 245, 0.8);
   color: black;
}

.timeLine {
   margin-top: 10ch;
   background-color: rgba(241, 253, 243, 0.8);
   padding: 2%;

}

.timeLine h2 {
   text-align: center;
   margin-left: 8vw;
   margin-bottom: 10vh;
}

.image img {
   width: 45vw;
   height: 50vh;
}

.timeline-container .title {
   text-align: center;
   position: absolute;
   left: 3vh;
   z-index: 1;
   background-color: rgba(255, 255, 255, 1);
   padding: 2vh;
   border-radius: 100%;
}


.timeline-container {
   position: relative;
   width: 100%;
   height: max-content;
   background-color: #d9e4db;
}

.timeline-container .image {
   left: 30%;
   padding-top: 10vh;
   position: relative;
   width: max-content;
}

.timeline-container .text-box {
   width: 50vw;
   text-align: center;
   position: relative;
   margin: 0 25vw 0 25vw;
   padding: 2vh 1vw 1vh 2vw;
}



.line::before {
   content: '';
   position: absolute;
   width: 5px;
   height: 0;
   background-color: orange;
   top: 0;
   left: 4vw;
   transition: height 2.5s linear 0s;
}

.line.active::before{
   height: 100%;
}


.timeline-container:nth-last-child(1){
   height: 40vh;
}

.timeline-container:nth-last-child(1) .text-box{
 padding-top: 15vh;
}

.text-box.animation{
   --animate-duration: 2.5s;
}
 /*about us end*/

 @media (max-width: 991.98px) {
    h1 {
       font-size: 35px;
    }

    h2 {
       font-size: 25px;
    }

    h3 {
       font-size: 20px;
    }

    canvas {
       width: 100vw;
    }

    .navbar-collapse {
       text-align: center;
       background-color: white;
    }

    .navbar-toggler {
       margin-top: 0;
    }

    .navbar-brand {
       padding-top: 0;
    }

    .navbar-nav {
       display: inline-block;
       text-align: left;
    }

    .navbar-nav .nav-item {
       text-align: center;
       display: block;
       float: none;
    }

    footer.container-fluid {
       height: 20vh;
       display: block;
    }

    footer .logo {
       margin: 0 40% 5% 40%;
    }

    .logo img {
       width: auto;
    }

    .faq-content {
       width: 75%;
    }

    /*index content*/
    .why-us img {
       width: 60vw;
       height: auto;
    }

    .why-us-1,
    .why-us-2 {
       display: block;
       height: max-content;
       width: 100%;
       padding-top: 5%;
    }

    .multi-devices-desc,
    .customer-support-desc,
    .customized-report-desc,
    .barcode-printing-desc {
       position: static;
       display: block;
       margin: auto;
       padding: 12% 2% 1% 2%;
       margin-top: -5vh;
       width: 80%;
       z-index: 0;
    }

    .multi-devices-icon,
    .customer-support-icon,
    .customized-report-icon,
    .barcode-printing-icon {
       position: relative;
       margin: auto;
       height: max-content;
       width: max-content;
       padding: 5%;
       margin-top: 10%;
       z-index: 1;
    }

    .product-container {
       display: contents;
       padding: 5%;
       height: max-content;
    }

    .workshop-management-container {
       border-left: none;
       border-top: 2px dashed black;
       padding: 2%;
       margin-bottom: 10%;
    }

    .spare-parts-accounting-container {
       padding: 2%;
       margin-bottom: 5%;
    }

    .benefits {
       display: block;
       display: block;
       padding: 20% 1% 1% 1%;
       margin-top: 10%;
    }

    .benefits .list-group {
       margin: 5% 0 5% 0;
    }

    .testimonial {
       padding-top: 10%;
       height: 100%;
       margin-bottom: 20%;
    }

    .carousel-inner.testimonial-carousel {
       width: 100%;
       height: max-content;
    }

    .carousel-content.testimonial-carousel {
       padding: 5%;
       width: 100%;
       border: 2px solid #face99;
       margin: auto;
       box-shadow: 2vh 2vh 50px #face99;
       background-color: #d9e4db;
       margin-top: 5%;
    }

    .carousel-content.testimonial-carousel header {
       margin-bottom: 5%;
    }

    blockquote::before {
       content: "\201C";
       font-size: 100px;
       position: absolute;
       font-family: serif;
       font-weight: bold;
       opacity: .5;
       left: 0;
       margin-top: -10%;
    }

    /*index end*/

    /*contact us*/
    .container-fluid .text-center.text-center.contact-us {
       margin: 30% 0 5% 0;
    }

    .feedback .container-fluid {
       display: contents;
    }

    .icon {
       display: none;
    }

    .form {
       margin: 0;
       padding: 2%;
       height: max-content;
    }

    .feedback button {
       bottom: 1%;
    }

    .contact-list,
    .message {
       padding: 0;
       padding-bottom: 10%;
       height: max-content;
    }

    label {
       font-size: 20px;
    }

    textarea {
       width: 80%;
       height: 25vh;

    }

    .company-contact .container-fluid {
       display: block;
       margin-top: 10%;
       display: block;
       margin-top: 10%;
       height: max-content;
       padding-bottom: 10%;
    }

    .company-contact .vstack.col-md-5.mx-auto {
       width: 100%;
       height: max-content;
       padding-bottom: 10%;
    }
    /*contact us end*/

    /*spare part management system & workshop system*/
    .intro {
       padding-top: 25%;
       display: block;
       width: 100%;
       height: max-content;
       margin: auto;
    }

    .intro .title {
       height: max-content;
       margin: 0;
       padding: 0;
       padding-bottom: 10%;
       width: 100%;
       background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(224, 224, 224, 0.9));
    }

    .intro img {
       width: auto;
       height: auto;
       margin-right: 20%;
       margin-left: 20%;
    }

    .textbox {
       padding-top: 20%;
       padding-bottom: 20%;
    }

    .module {
       display: block;
       width: 100%;
       margin-top: 10%;
       padding-bottom: 25%;
       height: max-content;
       overflow-x: hidden;
    }

    .module-content {
       width: 100%;
    }

    .carousel-container {
       margin-left: 40%;
       position: relative;
    }

    .carousel-container.workshop{
      margin-top: 15%;
      margin-left: 40%;
      position: relative;
    }

    .module-carousel-item{
       width: max-content;
       height: max-content;
       padding: 10% 15% 10% 15%;
    }

    #next {
       margin-left: 90%;
       margin-bottom: 0%;
       margin-top: -18%;
    }

    #workshop-next{
      right: 0;
      margin-bottom: 0%;
      margin-top: -35%;
   
    }

    #workshop-prev{
      margin-top: -35%;
      left: -35%;
    }

    #prev{
       margin-top: -18%;
       left: 0;

    }
    .preview{
      height: max-content;
    }

    .preview .container-fluid .description.active {
       display: block;
       height: max-content;
    }

    .description .image {
      width: 90%;
      padding: 0 0 5% 0;
      margin: 0 5% 0 5%;
      display: block;
    }

    .description .image small {
      width: 40%;
      margin: 0 30% 0 30%;
    }

    .description-text{
      padding: 0;
      width: 80%;
      padding-bottom: 10%;
      margin: 0 10% 0 10%;
    }
       /*spare part management system & workshop system end*/


/*about us*/
    .intro.about-us .container-fluid{
      height: max-content;
      padding: 1% 2% 1% 2%;
    }

    .value .container-fluid{
      padding-top: 5%;
    }

    .line::before{
      left: 11.5%;
    }

    .timeline-container .text-box{
      width: 80%;
      margin: 0 0 0 20%;
    }

    .timeLine p{
      
      font-size: 12px;
    }

    /*about us end*/











 }