
 .carousel-container.workshop {
    position: relative;
    margin-top: 3vh;
    width: 13vw;
    height: 15vh;
    perspective: 1500px;
    margin-left: 25vw;
 }
 
 .module-carousel.workshop{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
 }
 
 .module-carousel-item.workshop {
    display: block;
    position: absolute;
    background: #fef4e8;
    width: 20vw;
    height: 25vh;
    padding-top: 5vh;
    text-align: center;
    color: black;
    opacity: 0.95;
    border-radius: 10px;
    transition: background 0.3s;
     
 }
 
 
 .billing-service-record-module{ transform: rotateY(0deg) translateZ(250px); }
 .stock-control-module { transform: rotateY(120deg) translateZ(250px); }
 .full-set-accountant { transform: rotateY(240deg) translateZ(250px); }
 
 
 #workshop-next{
    font-size: 100px;
    position: absolute;
    color: #FFA500;
    margin-top: 9vh;
    right: 1%;
 }
 
 #workshop-prev{
    font-size: 100px;
    position: absolute;
    color: #FFA500;
    margin-top: 9vh;
    right: 48%;
    
 }
