.intro {
    height: 100vh;
    padding-top: 20vh;
    display: flex;
    gap: 10vw;
    width: 100%;
 }
 
 .intro img {
    width: 45vw;
    height: 75%;
 }
 
 .intro .title {
    height: 100%;
    width: 50vw;
    padding-top: 20vh;
    padding-right: 10vw;
    text-align: center;
 }
 
 .intro .title p {
    margin-top: 5vh;
 }
 
 .features {
    height: 100vh;
    padding-top: 5vh;
    background-color: rgba(242, 255, 233, 0.75);
    text-align: center;
    width: 100%;
 }
 
 .features-content {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 80%;
    width: 100%;
 }
 
 .textbox {
    width: 100%;
    padding-top: 10%;
    text-align: center;
 }
 
 .textbox.right {
    border-left: 2px dotted rgb(166, 166, 166);
 }
 
 .textbox.top {
    border-bottom: 2px dotted rgb(166, 166, 166);
 }
 
 small{
    text-decoration: underline;
 
 }
 .module {
    height: 40vh;
    text-align: center;
    padding-top: 2%;
    display: flex;
    background-color: rgba(241,243,243,0.75);
    width: 100%;
 }
 .module-content{
    width: 40vw;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
 }
 
 .module-content p{
    padding-top: 2%;
 }
 
 .carousel-container.workshop {
    position: relative;
    margin-top: 3vh;
    width: 13vw;
    height: 15vh;
    perspective: 1500px;
    margin-left: 25vw;
 }
 
 .module-carousel.workshop{
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
 }
 
 .module-carousel-item.workshop {
    display: block;
    position: absolute;
    background: #fef4e8;
    width: 20vw;
    height: 25vh;
    padding-top: 5vh;
    text-align: center;
    color: black;
    opacity: 0.95;
    border-radius: 10px;
    transition: background 0.3s;
     
 }
 
 .module-carousel-item.active,.module-carousel-item.active h3 {
    background: #FFA500;
    color: white;
 }
 
 .billing-service-record-module{ transform: rotateY(0deg) translateZ(250px); }
 .stock-control-module { transform: rotateY(120deg) translateZ(250px); }
 .full-set-accountant { transform: rotateY(240deg) translateZ(250px); }
 
 
 #workshop-next{
    font-size: 100px;
    position: absolute;
    color: #FFA500;
    margin-top: 9vh;
    right: 1%;
 }
 
 #workshop-prev{
    font-size: 100px;
    position: absolute;
    color: #FFA500;
    margin-top: 9vh;
    right: 48%;
    
 }
 .module-carousel-item p{
 display: none;
 }
 
 .preview{
    height: 100vh;
    text-align: center;
    padding-top: 10vh;
 }
 
 
 .preview .dropdown-center button{
    background-color: transparent;
    border: none;
    color: black;
 }
 
 .btn{
    --bs-btn-font-size: 25px;
 }
 
 .preview .dropdown-center::after{
    font-size: 500px;
    background-color: black;
 }
 
 .preview .container-fluid .description{
    display: none;
 }
 .description .image{
    width: 80%;
    margin-left: 5vw;
    padding-left: 5vw;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: 100%;
 }
 .description .image img{
    height: 100%;
    width: 90%;
 }
 .description .image small{
    text-align: center;
 }
 
 .description-text{
    padding-top: 08%;
    padding-right: 2vw;
    width: 25vw;
 }
 .description-text .list-group{
    box-shadow: 1vw 2vh 50px rgba(253,185,115,0.75);
 }
 
 .description-text .list-group-item{
    background-color: #fdb973;
    padding-bottom: 0;
 }
 
 .preview .container-fluid .description.active{
    display: flex;
 }